node_modules
dist
.DS_Store
.env
.env.local
*.log
*.tsbuildinfo
artifacts
apps/miniprogram/dist
apps/miniprogram/node_modules
apps/miniprogram/.taro
apps/miniprogram/.swc
apps/miniprogram/project.private.config.json*
